
@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  src: local('Reenie Beanie'), local('ReenieBeanie'), url("letra.woff2") format('woff2');
}
body{
    background: url("../Imagenes/dora.jpeg") no-repeat center center fixed;
    background-size: cover;
    font-family: "Reenie Beanie", arial, serif;
}
#head1{
    text-align: center;
    font-size: 35px;
    width: 100%;
    height: 100px;
    background-color: #c2f4f4;
    border-radius: 20px;
    border: 2px solid red;
    filter: opacity(0.75);
}
#head1 h1 { 
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, -50%);
} 
article{
    text-align: center;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    font-size: 35px;
    border-radius: 50px;
}
h2{
    margin: 0 auto;
    background-color: white;
    width: 450px;
    border-radius: 50px;
    filter: opacity(0.75);
}
#inicio button{
    width: 250px;
    height:100px;
    margin-top: 50px;
    font-family: "Reenie Beanie", arial, serif;
    font-size: 55px;
    border-radius: 20px;
    color:green;
    background-color: #89ff46;
}
#aprendertablas, #repasartablas{
    display:none;
}
#salidaAprende, #repasaAprende{
    margin: 0 auto;
    width: 500px;
    height: 650px;
    border: 10px solid #cc6600;
    background: url("../Imagenes/pizarra.jpg") no-repeat center center fixed;
    background-size: cover;
}
h3 button{
    margin-left: 20px;
    width: 50px;
    height:70px;
    font-family: "Reenie Beanie", arial, serif;
    font-size: 55px;
    border-radius: 20px;
    color:green;
    background-color: #89ff46;
}
.vuelta{
    position:absolute;
    margin-top: -100px;
    margin-left: 300px;
    width: 190px;
    height:70px;
    font-family: "Reenie Beanie", arial, serif;
    font-size: 55px;
    border-radius: 20px;
    color:green;
    background-color: #89ff46;
}
.borrar{
    position:absolute;
    margin-top: -200px;
    margin-left: 300px;
    width: 190px;
    height:70px;
    font-family: "Reenie Beanie", arial, serif;
    font-size: 55px;
    border-radius: 20px;
    color:green;
    background-color: #89ff46;
}
#aciertosS{
    position:absolute;
    margin-top: -300px;
    margin-left: 300px;
    width: 200px;
    height:70px;
    font-family: "Reenie Beanie", arial, serif;
    font-size: 55px;
    border-radius: 20px;
    color:green;
    background-color: #89ff46;
}
#aciertosInput{
    position:absolute;
    margin-top: -300px;
    margin-left: 510px;
    width: 50px;
    height:70px;
    font-family: "Reenie Beanie", arial, serif;
    font-size: 55px;
    border-radius: 20px;
    color:green;
    background-color: #89ff46;
}
#fallosS{
    position:absolute;
    margin-top: -400px;
    margin-left: 300px;
    width: 200px;
    height:70px;
    font-family: "Reenie Beanie", arial, serif;
    font-size: 55px;
    border-radius: 20px;
    color:green;
    background-color: #89ff46;
}
#fallosInput{
    position:absolute;
    margin-top: -400px;
    margin-left: 510px;
    width: 50px;
    height:70px;
    font-family: "Reenie Beanie", arial, serif;
    font-size: 55px;
    border-radius: 20px;
    color:green;
    background-color: #89ff46;
}
#ceroDOM{
    color: white;
    margin-top: -50px;
    font-size: 50px;
}
input{
    size: 20px;
    font-size: 55px;
    width: 40px;
    height: 30px;
    font-family: "Reenie Beanie", arial, serif;
}
#repasaAprende p{
    text-align: left;
    margin-left: 30%;
}